.container {
    max-width: 1519px;
    margin: 0 auto;
}

.container2 {
    max-width: 1200px;
    margin: 0 auto;
}

.container3{
  max-width: 1300px;
  margin: 0 auto;
}

body {
      font-family: "Poppins", sans-serif;
}

.h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

* {
  box-sizing: border-box;
}
